.intro__text {
  max-width: 690px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  margin-bottom: 33px;
}

@media screen and (max-width: 960px) {
  .intro__text {
    max-width: 720px;
  }
}